html{
  background-color: black;
  /*
  width: 100%;
  min-height: min-content;
  max-height: 100%;
  margin: 0;
  padding: 0;
  */
}

.title-p{
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;

}

.page-style{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-family: Handjet;
  /*
  min-width: fit-content; 
  max-width: 100%;
  min-height: fit-content;
  */
}

.main-canvas{
  margin: auto;
  display: block;
  position: relative;
  /* top: 10px; */
  /* border: 1px solid white; --Temperary */
}
